@tailwind base;
/* Write your own custom base styles here */
body {
  background-color: #0c0032;
  color: white;
}

.box-shadow-1 {
  box-shadow: inset 0 0 5px #4776e6, inset 5px 0 20px #8e54e9, inset -5px 0 20px #4776e6, inset 5px 0 100px #8e54e9,
    inset -5px 0 100px #4776e6, -5px 0 20px #8e54e9, 5px 0 20px #4776e6;
}

.section-container {
  margin-bottom: 5%;
}

.body-footer {
  /* background-color: black; */
  background: #240090; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3500d3, #240090); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3500d3, #240090); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}

.work-card {
  background: #4776e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8e54e9, #4776e6); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8e54e9, #4776e6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: none;
  border-radius: 10px;
  margin: 10px;
  color: white;
  transition: all 0.2s ease;
  margin-bottom: 5%;
  max-height: 500px;
  overflow-y: scroll;
}

.current-job-card {
  background-color: transparent;
  background: #0575e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #021b79, #0575e6); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #021b79, #0575e6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: inset 0 0 5px #0575e6, inset 5px 0 20px #021b79, inset -5px 0 20px #0575e6, inset 5px 0 100px #021b79,
    inset -5px 0 100px #0575e6, -5px 0 20px #021b79, 5px 0 20px #0575e6;
}

.work-card:hover {
  background: #06beb6; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #48b1bf, #06beb6); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #48b1bf, #06beb6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: inset 0 0 5px #06beb6, inset 5px 0 20px #48b1bf, inset -5px 0 20px #06beb6, inset 5px 0 100px #48b1bf,
    inset -5px 0 100px #06beb6, -5px 0 20px #48b1bf, 5px 0 20px #06beb6;
}

.card-img-top {
  margin-top: 30px;
  padding: 30px;
  height: 100%;
  width: 250px;
  margin-right: auto;
  margin-left: auto;
}

.work-card-footer {
  text-align: center;
}

/* Start purging... */

@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

.contact-list-button {
  margin: 10px;
  padding: 5px;
  width: 50px;
  text-align: center;
}

.icons-intro-group {
  margin-right: auto;
  margin-left: auto;
  display: block;
  text-align: center;
}

.icons-intro-icon {
  height: 30px;
  border-radius: 7px;
}

.avatar-img {
  height: 100px;
  width: 100px;
  box-shadow: inset 0 0 5px #a5fecb, inset 5px 0 20px #5433ff, inset -5px 0 20px #20bdff, inset 5px 0 100px #5433ff,
    inset -5px 0 100px #20bdff, 0 0 5px #fff, -5px 0 20px #5433ff, 5px 0 20px #20bdff;
}

.cover-image {
  border: none;
  border-radius: 10px;
  padding: 5px;
  box-shadow: inset 0 0 5px #a5fecb, inset 5px 0 20px #5433ff, inset -5px 0 20px #20bdff, inset 5px 0 100px #5433ff,
    inset -5px 0 100px #20bdff, 0 0 5px #fff, -5px 0 20px #5433ff, 5px 0 20px #20bdff;
}

/** Showcase **/
.showcase-card {
  background-color: transparent;
  background: #0575e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #021b79, #0575e6); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #021b79, #0575e6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  box-shadow: inset 0 0 5px #0575e6, inset 5px 0 20px #021b79, inset -5px 0 20px #0575e6, inset 5px 0 100px #021b79,
    inset -5px 0 100px #0575e6, -5px 0 20px #021b79, 5px 0 20px #0575e6;
  border: none;
  border-radius: 10px;
  /* color: black; */
  transition: all 0.2s ease;
}

.showcase-card:hover {
  background: #6441a5; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2a0845, #6441a5); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2a0845, #6441a5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: inset 0 0 5px #6441a5, inset 5px 0 20px #2a0845, inset -5px 0 20px #6441a5, inset 5px 0 100px #2a0845,
    inset -5px 0 100px #6441a5, -5px 0 20px #2a0845, 5px 0 20px #6441a5;
}

.showcase-cover-image {
  max-height: 200px;
  width: 100%;
  overflow-y: scroll;
  margin-bottom: 30px;
  border-radius: 10px;
}

/* Start purging... */

@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
